html{
  scroll-behavior: smooth;
}

body {
  background-color: #F5F5F5;
  overflow: auto;
  width: 100%;
  margin:0;
  font-family: 'Albert Sans';
  text-align: center;
  font-size: large;
  position:absolute;
}

nav {
  background-color: #F5F5F5;
}

p {
  text-align: justify;
  font-size: x-large;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
}

.img {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
}

.img-prop {
  padding-left: 5%;
  padding-right: 5%;
}

.img-cand {
  padding-left: 20%;
  padding-right: 20%;
}

.navbar .navbar-light{
  display: inline;
  border-color: transparent;
  width:100%;
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(66,66,66,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-nav .nav-item .nav-link{
  color:#424242;
  
}
.iconBtn{
  border-color: transparent;
  background-color: transparent;
}

.btn {
  border-radius: 20px;
  border-width: 2px;
  border-color: #727272e3;
  background-color: #d6d4d4;
  color:#4f4f4f;
  padding: 4%;
  margin-bottom: 5%;
}

h1{
  text-align: center;
  margin-top: 12%;
}

h2{
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%;
}

h3 {
  text-align: justify;
  font-size: x-large;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
}

subtitle {
  padding-bottom: 5%;
}

#positionInf {
  font-size: x-large;
}

.btn-vote{
  background-color: #C8C7C7;
  border-color: transparent;
  color: #424242;
}
.btn-cand{
  background-color: #424242;
  border-color: transparent;
}
.next{
  text-align: center;
  
}
#moreInf{
  font-size: 24px;
  color:#4F4F4F;
}
.downArrow{
  border-color: transparent;
}
a.downArrow:before{
  position: absolute;
  content:"";
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(5.3em);
    opacity: 0;
  }
}
a.downArrow:after {
  position: absolute;
}
section {
  height: 95vh;
  position: relative;
  padding-bottom: 0;
}

h5{
  text-align: left;
  padding-left: 15%;
  font-size: x-large;
}

.scrollFT{
  margin-top: 15%;
}

ul {
  text-align: left;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 10%;
  padding-top: 10%;
}

.cards {
  padding: 5%;
}

.card {
  border-radius: 25px;
}

li {
  padding: 5%;
}

.pull-up-sig {
  margin: auto;
  border-radius: 10px;
  background: grey;
  width: 100px;
  height: 8px;
  overflow-y: auto;
}

input[type='checkbox'] {
  display: none;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
  height: 275px;
  width: 400px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
  padding: 5%;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

input[type='checkbox']:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}

.card-block {
  padding: 5%;
}
