/* html{
  scroll-behavior: smooth;
} */

body {
  background-color: #F5F5F5;
  height: 100%;
  overflow: auto;
  margin:0;
  font-family: 'Albert Sans';
  text-align: center;
  font-size: large;
}

nav {
  background-color: #F5F5F5;
}

p {
  text-align: justify;
  font-size: x-large;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
}

.img {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
}

.navbar .navbar-light{
  display: inline;
  border-color: transparent;
  width:100%;
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(66,66,66,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-nav .nav-item .nav-link{
  color:#424242;
  
}
.iconBtn{
  border-color: transparent;
  background-color: transparent;
}
h1{
  text-align: center;
  margin-top: 10%;
}
h2{
  text-align: center;
  margin-top: 12.88%;
  margin-bottom: 15%;
}

#positionInf {
  font-size: x-large;
}

.btn-vote{
  background-color: #C8C7C7;
  border-color: transparent;
  color: #424242;
}
.btn-cand{
  background-color: #424242;
  border-color: transparent;
}
.next{
  text-align: center;
  
}
#moreInf{
  font-size: 24px;
  color:#4F4F4F;
}
.downArrow{
  border-color: transparent;
}
a.downArrow:before{
  position: absolute;
  content:"";
}
@keyframes move-down {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(5.3em);
    opacity: 0;
  }
}
a.downArrow:after {
  position: absolute;
}
section {
  height: 95vh;
  position: relative;
  padding-bottom: 0;
}
h5{
  text-align: left;
  padding-left: 15%;
}

.scrollFT{
  margin-top: 15%;
}

.posList{
  text-align: left;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 20%;
  padding-top: 10%;
}

li {
  padding: 5%;
}
